.tabela{
    top: 0;
    left: 0;
    position: absolute;
    width: 90%;
    border: 5px;
    border-color: black;
}
.tlo{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    filter: blur(5px);
}

.tlo1{
    top: 98%;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    filter: blur(8px);
}
.tlo2{
    top: 196%;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    filter: blur(8px);

}
.tlo3{
    top: 291%;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    filter: blur(8px);
}

.natlo{
    background-color: #707070;
    width:  100%;
    height: 391%;
    left: 0%;
    top: 0%;
    opacity: 35%;
    position: absolute;
}

.nativbarleft{
    top:0;
    left:0;
    width: 150px;
    height: 100%;
    background-color: #2B2929;
    font-family: Futura PT Medium;
    font-style: italic;
    position:fixed;

}
.napisgora{
    background-color: #FA323C;
    top: 5%;
    left: 38%;
    height: 150px;
    width: 750px;
    position: absolute;
    font-family: Futura Pt Medium;
    font-style: italic;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nagloweknb{
    font-family: Futura Pt Medium;
    font-style: italic;
    font-size: 30px;
    position: relative;
    text-align: center;
    color: white;
}
.podgloweknb{
    font-family: Futura Pt Medium;
    font-style: italic;
    font-size: 25px;
    position: relative;
    text-align: center;
    color: white;
}
.podgloweknb:hover{
    background-color: #FA323C;
    cursor: pointer;

}
.tekstramka{
    background-color: white;
    position: absolute;
    width: 1675px;
    height: 650px;
    top: 28.5%;
    left: 20%;
    opacity: 15%;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.opis{
    background-color: transparent;
    position: absolute;
    width: 1675px;
    height: 900px;
    color: #E8E5E5;
    top: 23%;
    left: 21%;
    font-family: Futura Pt ;
    font-style: italic;
    font-size: 45px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}




.lore {
    background-color: transparent;
    position: absolute;
    width: 675px;
    height: 900px;
    color: #E8E5E5;
    top: 25%;
    left: 15.5%;
    font-family: Futura Pt ;
    font-style: italic;
    font-size: 25px;
    text-align:  justify;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bandlecity {
    background-color: transparent;
    position: absolute;
    width: 300px;
    height: 900px;
    color: #E8E5E5;
    top: 7px;
    left: 16%;
    font-family: Futura Pt;
    font-style: italic;
    font-size: 50px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tekstramkalore{
    background-color: white;
    position: absolute;
    width: 765px;
    height: 770px;
    top:27%;
    left: 14%;
    opacity: 15%;

}
.bilgwater{
    background-color: transparent;
    position: absolute;
    width: 675px;
    height: 900px;
    color: #E8E5E5;
    top: 770px;
    right: 10%;
    font-family: Futura Pt ;
    font-style: italic;
    font-size: 25px;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;

}
.ramkabilg{
    background-color: white;
    position: absolute;
    width: 765px;
    height: 820px;
    top:775px;
    right: 8%;
    opacity: 15%;
}
.bilgwaternapis {

    background-color: transparent;
    position: absolute;
    width: 300px;
    height: 900px;
    color: #E8E5E5;
    top: 370px;
    right: 650px;
    font-family: Futura Pt;
    font-style: italic;
    font-size: 50px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.demacia{
    background-color: transparent;
    position: absolute;
    width: 675px;
    height: 900px;
    color: #E8E5E5;
    top:1420px;
    left: 15.5%;
    font-family: Futura Pt ;
    font-style: italic;
    font-size: 25px;
    text-align:  justify;
    display: flex;
    justify-content: center;
    align-items: center;

}
.demacianapis{
    background-color: transparent;
    position: absolute;
    width: 300px;
    height: 900px;
    color: #E8E5E5;
    top: 1380px;
    left: 16%;
    font-family: Futura Pt;
    font-style: italic;
    font-size: 50px;
    text-align: left;
    display: flex;
    justify-content: center;

}
.ramkademacia{
    background-color: white;
    position: absolute;
    width: 765px;
    height: 950px;
    top:1355px;
    left: 14%;
    opacity: 15%;

}
.freljord{
    background-color: transparent;
    position: absolute;
    width: 675px;
    height: 900px;
    color: #E8E5E5;
    top:1870px;
   right: 10%;
    font-family: Futura Pt ;
    font-style: italic;
    font-size: 25px;
    text-align:  justify;
    display: flex;
    justify-content: center;
    align-items: center;


}
.freljordnapis{
    background-color: transparent;
    position: absolute;
    width: 300px;
    height: 900px;
    color: #E8E5E5;
    top: 1880px;
    right:700px;
    font-family: Futura Pt;
    font-style: italic;
    font-size: 50px;
    text-align: left;
    display: flex;
    justify-content: center;

}

.ramkafreljord{
    background-color: white;
    position: absolute;
    width: 765px;
    height: 840px;
    top:1855px;
   right: 8%;
    opacity: 15%;

}
.ionia{
    background-color: transparent;
    position: absolute;
    width: 675px;
    height: 900px;
    color: #E8E5E5;
    top:2630px;
    left: 15.5%;
    font-family: Futura Pt ;
    font-style: italic;
    font-size: 25px;
    text-align:  justify;
    display: flex;
    justify-content: center;
    align-items: center;

}


.ionianapis{
    background-color: transparent;
    position: absolute;
    width: 300px;
    height: 900px;
    color: #E8E5E5;
    top: 2600px;
    left: 16%;
    font-family: Futura Pt;
    font-style: italic;
    font-size: 50px;
    text-align: left;
    display: flex;
    justify-content: center;
}


.ramkaionia{
    background-color: white;
    position: absolute;
    width: 765px;
    height: 950px;
    top: 2555px;
    left: 14%;
    opacity: 15%;
}
.ixtal{
    background-color: transparent;
    position: absolute;
    width: 675px;
    height: 900px;
    color: #E8E5E5;
    top:2920px;
    right: 10%;
    font-family: Futura Pt ;
    font-style: italic;
    font-size: 25px;
    text-align:  justify;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ixtalnapis{
    background-color: transparent;
    position: absolute;
    width: 300px;
    height: 900px;
    color: #E8E5E5;
    top: 3000px;
    right: 26%;
    font-family: Futura Pt;
    font-style: italic;
    font-size: 50px;
    text-align: left;
    display: flex;
    justify-content: center;

}
.ramkaixtal{
    background-color: white;
    position: absolute;
    width: 765px;
    height: 750px;
    top:2950px;
    right: 8%;
    opacity: 15%;

}

.noxus {
    background-color: transparent;
    position: absolute;
    width: 675px;
    height: 900px;
    color: #E8E5E5;
    top:3700px;
    left: 15.5%;
    font-family: Futura Pt ;
    font-style: italic;
    font-size: 25px;
    text-align:  justify;
    display: flex;
    justify-content: center;
    align-items: center;

}


.noxusnapis{
    background-color: transparent;
    position: absolute;
    width: 300px;
    height: 900px;
    color: #E8E5E5;
    top: 3700px;
    left: 16%;
    font-family: Futura Pt;
    font-style: italic;
    font-size: 50px;
    text-align: left;
    display: flex;
    justify-content: center;
}


.ramkanoxus {
    background-color: white;
    position: absolute;
    width: 765px;
    height: 900px;
    top: 3650px;
    left: 14%;
    opacity: 15%;
}

.piltover{
    background-color: transparent;
    position: absolute;
    width: 675px;
    height: 900px;
    color: #E8E5E5;
    top:4000px;
    right: 10%;
    font-family: Futura Pt ;
    font-style: italic;
    font-size: 25px;
    text-align:  justify;
    display: flex;
    justify-content: center;
    align-items: center;

}
.piltovernapis{
    background-color: transparent;
    position: absolute;
    width: 300px;
    height: 900px;
    color: #E8E5E5;
    top: 4050px;
    right: 700px;
    font-family: Futura Pt;
    font-style: italic;
    font-size: 50px;
    text-align: left;
    display: flex;
    justify-content: center;

}
.ramkapiltover{
    background-color: white;
    position: absolute;
    width: 765px;
    height: 750px;
    top:4000px;
    right: 8%;
    opacity: 15%;

}
/* ESPORT!!!!!!!!!!!!!!!*/
.opisesport {
    background-color: transparent;
    position: absolute;
    width: 1800px;
    height: 900px;
    color: #E8E5E5;
    top: 35.5%;
    left: 17%;
    font-family: Futura Pt;
    font-style: italic;
    font-size: 50px;
    text-align: justify;
    display: flex;
    justify-content: center;



}
.lec{
    background-color: transparent;
    position: absolute;
    width: 300px;
    height: 900px;
    color: #E8E5E5;
    top: 8px;
    left: 16%;
    font-family: Futura Pt;
    font-style: italic;
    font-size: 80px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;

}
.esportramka {
    background-color: white;
    position: absolute;
    width: 1900px;
    height: 700px;
    top: 25.5%;
    left: 15%;
    opacity: 15%;

}



.opismasters {
    background-color: transparent;
    position: absolute;
    width: 1800px;
    height: 900px;
    color: #E8E5E5;
    top: 120.5%;
    left: 17%;
    font-family: Futura Pt;
    font-style: italic;
    font-size: 50px;
    text-align: justify;
    display: flex;
    justify-content: center;



}
.masters{
    background-color: transparent;
    position: absolute;
    width: 300px;
    height: 900px;
    color: #E8E5E5;
    top: 1150px;
    left: 18%;
    font-family: Futura Pt;
    font-style: italic;
    font-size: 80px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;

}
.mastersramka {
    background-color: white;
    position: absolute;
    width: 1900px;
    height: 500px;
    top: 100.5%;
    left: 15%;
    opacity: 15%;
}
.ultraliga{
    background-color: transparent;
    position: absolute;
    width: 400px;
    height: 900px;
    color: #E8E5E5;
    top: 1970px;
    left: 20%;
    font-family: Futura Pt;
    font-style: italic;
    font-size: 80px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;

}
.ultraligaopis{
    background-color: transparent;
    position: absolute;
    width: 1800px;
    height: 900px;
    color: #E8E5E5;
    top: 175.5%;
    left: 17%;
    font-family: Futura Pt;
    font-style: italic;
    font-size: 50px;
    text-align: justify;
    display: flex;
    justify-content: center;

}
.ultraligaramka{
    background-color: white;
    position: absolute;
    width: 1900px;
    height: 850px;
    top: 160.5%;
    left: 15%;
    opacity: 15%;
}
